<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" href="css/reset.css"/>
    <link rel="stylesheet" href="css/about.css"/>
</head>
<body>
	<header>
			<img src="images/1.jpg" class="logo">
		</header>
		<nav>
			<ul class="clearfix">
				<li><a href="http://localhost:3000">首页</a></li>
				<li><a href="http://localhost:3000/jiaju">家居设计</a></li>
				<li><a href="http://localhost:3000/pusu">室内设计</a></li>
				<li><a href="http://localhost:3000/yishu">璞素艺术</a></li>
				<li><a href="http://localhost:3000/about">璞素活动</a></li>
				<li><a href="http://localhost:3000/active">关于我们</a></li>
			</ul>
		</nav>
<div class="about">
    <div class="about_one">
    	<img src="img/about_1.jpg" alt=""/>
    </div>
    <div class="about_one">
    	<img src="img/about_2.jpg" alt=""/>
    </div>
    <div class="about_three">
        <img src="img/about_3.jpg" alt=""/>
        <img src="img/about_4.jpg" alt=""/>
        <img src="img/about_5.jpg" alt=""/>
    </div>
    <div class="about_one">
    	<img src="img/about_6.jpg" alt=""/>
    </div>
    <div class="about_one">
    	<img src="img/about_7.jpg" alt=""/>
    </div>
    <div class="about_one">
    	<img src="img/about_8.jpg" alt=""/>
    </div>
    <div class="about_two">
        <img src="img/about_9.jpg" alt=""/>
        <img src="img/about_10.jpg" alt=""/>
    </div>
    <div class="about_one">
    	<img src="img/about_11.jpg" alt=""/>
    </div>
    <div class="about_one about_last">
        <img src="img/about_12.jpg" alt=""/>
    </div>
</div>
		<footer>
			<div class="box clearfix">
				<div class="f-left">
					<p>璞素家居艺术/Pusu Lifestyle<br>上海市黄浦区 进贤路169号二楼<br>2nd Floor, No.169, JinXian Rd,<br>HuangPu District, Shanghai<br>联系方式/Contact<br>021-34619855<br>Email: inpusu@163.com</p>
				</div>
				<div class="f-cen">
					<p>璞素设计/Pusu Design<br>上海市黄浦区 进贤路169号二楼<br>2nd Floor, No.169, JinXian Rd,<br>HuangPu District, Shanghai<br>联系方式/Contact<br>021-32558365</p>
				</div>
				
				<div class="f-right">
					<img src="images/10.jpg"> 璞素微信
					<img src="images/10.jpg"> 璞素微信
				</div>
			</div>
		</footer>
		<div class="di">Copyright &copy;2017 家具设计师工作室</div>
</body>
</html>